@font-face {
    font-family: IBMPlexSansThai;
    src: url(font/IBMPlexSansThai-Medium.ttf);
}

a {
   text-decoration: none;
}

.body {
    background-color: black;
    font-family: IBMPlexSansThai;
}

.box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 20px;
    margin: 1 1rem;
}

.content {
    padding-top: 10px;
    margin: 0 2rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.menu {
    border-radius: 5px;
    border: 1px solid red;
    background-color: #fff;
    background-image: url(img/1.png);
    width: 50%;
    text-align: center;
}

.link {
    text-decoration: none;
    color: #fff;
}